@import url('https://fonts.googleapis.com/css?family=Roboto:700');

.oferta {
  margin:0px;
  font-family:'Roboto';
  text-align:center;
}

#oferter {
  color:#999;
  text-transform: uppercase;
  font-size:25px;
  font-weight:bold;
  width:100%;
  bottom:45%;
}

#flipe {
  height:50px;
  overflow:hidden;
}

#flipe > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flipe div:first-child {
  animation: show 8s linear infinite;
}

#flipe div div {
  background:#ffbf00;
}
#flipe div:first-child div {
  background:#ff1515;
}
#flipe div:last-child div {
  background:#14dcd5;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

@media (max-width: 600px) {
  #oferter {
    margin-top: 15px;
    font-size:18px;
  }

}
