form {
  padding: 60px;
  /* background-image: radial-gradient(circle at 28.27% 31.77%, #ffff43 0, #ffff31 16.67%, #ffff20 33.33%, #edeb0c 50%, #b8c500 66.67%, #8ba200 83.33%, #648200 100%); */
  border-radius: 15px;
}

#formulario-contacto .form-block {
  width: 100%;
  margin-bottom: 15px;
}

#formulario-contacto .form-block .form-control {
  display: block;
  height: 40px;
  font-size: 16px;
  width: 100%;
  padding: 5px 10px;
}

#formulario-contacto .form-block textarea {
  display: block;
  height: 100px;
  font-size: 16px;
  border: 1px solid grey;
  width: 100%;
  padding: 5px 10px;
  /*No se puede dimensionar el textarea*/
  resize: none;
}

/*Validacion del formulario*/

.formulario-input-error {
  margin-left: 5px;
  font-size: 20px;
  margin-bottom: 0;
  color: white;
  display: none;
  font-weight: bold;
}

.formulario-input-error-activo {
  display: block;
}

.form-control-error {
  border: 3px solid orange;
}

.formulario-mensaje-exito {
  margin-left: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #119200;
  display: none;
}

.formulario-mensaje-exito-activo {
  display: block;
}

.ocultar-activo {
  display: block;
}

/* SECCION DE ESTILOS DE CONTACTO */
.contact .title::after {
  content: "Contáctenos";
}
.contact .contact-content .column {
  width: calc(50% - 20px);
}
.contact .contact-content .text {
  font-size: 30px;
  font-weight: 600px;
  margin-bottom: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.contact .contact-content .left p {
  text-align: justify;
}
.contact .contact-content .left .icons {
  margin: 10px 0;
}
.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info {
  margin-left: 30px;
}
.contact .contact-content .row i {
  font-size: 25px;
  color: rgb(255, 0, 0);
}
.contact .contact-content .info .head {
  font-weight: 500;
}
.contact .contact-content .info .sub-title {
  color: #333;
}

.contact .right {
  padding: 20px 40px;
  border-radius: 5%;
  background-image: radial-gradient(
    circle at 28.27% 31.77%,
    #ffff43 0,
    #ffff31 16.67%,
    #ffff20 33.33%,
    #edeb0c 50%,
    #b8c500 66.67%,
    #8ba200 83.33%,
    #648200 100%
  );
}

.contact .right form .fields {
  display: flex;
}
.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .textarea {
  height: 80px;
  width: 100%;
}
.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
  border-color: #b3b3b3;
}
.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right form .button-area button {
  color: #fff;
  display: block;
  width: 160px !important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: rgb(255, 0, 0);
  border: 2px solid rgb(255, 0, 0);
  transition: all 0.3s ease;
}

.right form .button-area button:hover {
  color: rgb(255, 0, 0);
  background: none;
}

button[disabled],
button[disabled]:hover {
  background-color: #d1d3d4 !important;
  color: #fff;
  border: 0 none;
}

.boton{
  background-color: #fffd8a;
  border-radius: 20px;
  padding: 0px 20px;
  color: orange;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}

.boton:hover{
  background-color: #119200;
  padding: 2px 25px;
}
