@import url("https://fonts.googleapis.com/css?family=card-mo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "card-mo", serif;
}

/* * {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
} */

.type{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.page-content {
  max-width: 100%;
  /* margin: 0 auto; */
  font-family: var(--font-sans);
}
@media (max-width: 980px) {
  .type{
    flex-wrap: wrap;
  }
}

.card-m {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 47%;
  text-align: center;
  color: whitesmoke;
  border-radius: 10px;
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1); */
}
@media (min-width: 600px) {
  .card-m {
    height: 190px;
  }
}
.card-m:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card-m:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.card-m:nth-child(1):before {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/acemac-cocha.appspot.com/o/todo.png?alt=media&token=2ca5483a-fccc-478e-b21b-b40e881fb532);
  background-size: cover;
}
.card-m:nth-child(2):before {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/acemac-cocha.appspot.com/o/comedor.png?alt=media&token=66022d2d-b1e3-48cb-8987-db3cb6bab17e);
  background-size: cover;
}
.card-m:nth-child(3):before {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/acemac-cocha.appspot.com/o/sofa.png?alt=media&token=6e95e9b5-3439-46aa-9012-aca048a6204e);
  background-size: cover;
}
.card-m:nth-child(4):before {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/acemac-cocha.appspot.com/o/cama.png?alt=media&token=f934b7fe-f955-4153-8a60-756e84d6324e);
  background-size: cover;
}
.card-m:nth-child(5):before {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/acemac-cocha.appspot.com/o/mesita.png?alt=media&token=c60f3de0-0b1d-4000-b3cf-bad5ee068022);
  background-size: cover;
}
.card-m:nth-child(6):before {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/acemac-cocha.appspot.com/o/artesania.png?alt=media&token=55adfcc7-2395-4229-ad24-e45b348132da);
  background-size: cover;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;

}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.2;
  color: orange;
  border-radius: 15px;
  background-color: white;
  padding: 5px;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btn:hover {
  color: orange;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card-m:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card-m:hover,
.card-m:focus-within {
    align-items: center;
  }
  .card-m:hover:before,
.card-m:focus-within:before {
    transform: translateY(-4%);
  }
  .card-m:hover:after,
.card-m:focus-within:after {
    transform: translateY(-50%);
  }
  .card-m:hover .content,
.card-m:focus-within .content {
    transform: translateY(0);
  }
  .card-m:hover .content > *:not(.title),
.card-m:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card-m:focus-within:before, .card-m:focus-within:after,
.card-m:focus-within .content,
.card-m:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}